<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/news.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>News</title>
</head>
<body>

      <!-- TITLE -->

         <div class="titlu1">
             <p>Information Services</p>
         </div>

      <div class="info"></div>
      
         <div class="new">
          <!-- INFORMATION ABOUT LIBRARY AND NEWS ABOUT THE COVID IMPACT/ NO LONGER RESTRICTIONS ADDED -->
            <div class="col newsinfo"><br>

                <h1>COVID-19 Impacts </h1><br>
                <img id="masca" src="/imageshtml/covid.jpg" alt=""><br><br>

                <h2 id="updates">Latest updates to library services </h2><br>

                 <p>For everyone`s safety, in-person services are modified and staff cannot offer the same extended support as we usually do. Please remember to wear your mask, even if you`ve been fully vaccinated, and practice physical distancing.<b>Individuals who refuse to wear a mask without declaring a medical or legal exemption, whether at a branch or waiting in line outside, will be refused service. </b><br><br>Thank you for your cooperation, and stay safe. Please check back for updates on available library services.</p><br>
                 <h2 id="vision">Library Vision Statement: </h2><br>
                 <p>To create a vibrant and dynamic learning commons where students can inquire, discover, read, view, listen, collaborate, create and present in a future focused learning environment. Students will be information fluent learners equipped with highly developed critical & creative thinking skills required for lifelong learning. We develop, organize, provide access to and preserve materials to meet the needs of present and future generations of students and scholars. We explore and implement innovative technologies and services to deliver information and scholarly resources conveniently to users anytime/anyplace. We also provide well-equipped and functional physical spaces where students can pursue independent learning and discovery outside the classroom.</p>
                 <p>The library provides student-centered services and collections to foster student and graduate success through the development of information literacy, critical thinking, and life-long learning.To support the emerging research and informational needs of our communities, we are committed to excellence and dedicated to the open, free exchange of ideas. </p><br>
                 <p>Health and safety remains our top priority, and plans may change if guidance is updated. To keep us all safe we are still asking library users to:</p><br>
              <ul>
                 <li>Wear face coverings</li>
                 <li>Use our hand sanitising stations</li>
                 <li>Use cleaning materials provided to clean desk surfaces and computer accessories</li>
             </ul><br>
                <h2 id="person">Available in person</h2><br>
              <ul>
                <li>Return library materials at drop boxes or at the customer service desk. --> Now drop boxes at closed branches will stay open, so you can still return library items at these branches. </li>
                <li>Browse and borrow items including musical instruments, Book Club to Go sets and Arduino Kits.</li>
                <li>Seating in our branches is limited due to the pandemic.</li>
                <li>Connect and use Wi-Fi.</li>
                <li>Reserve a computer. --> Now customers can book one session once per day.</li>
                <li>We are offering free printing for proof of vaccination at open branches.</li>
             </ul><br>
                 <h2 id="visit">What you need to know before visiting?</h2><br>

              <ul>
                 <li>Take the COVID-19 self-assessment. If you have symptoms, if you may have been exposed to COVID-19, or if you are awaiting COVID-19 test results, please stay at home and do not visit the library.</li>
                 <li>Even if you`ve been vaccinated you must still follow proper safety measures while visiting the library: </li>
                 <li>We reccomend to wear a mask!</li>
                 <li>Still keep a distance.</li>
                 <li>Wash or sanitize your hands!</li>
                 <li>Food is currently not allowed in our library</li>
                <img id="masca" src="/imageshtml/covidrules.png" alt="">
             </ul><br>
                <h2 id="staff">What we're doing to keep you and our staff safe?</h2><br>
                <p>We have adopted a mandatory vaccination policy for the staff with the goal of protecting employees and the people we serve. The health and safety of our staff and customers has been our foremost priority throughout the pandemic.</p>
                <p>Here are some of the measures we have put in place:</p>
              <ul>
                  <li>Intensive cleaning</li>
                  <li>Regular cleaning and hand washing protocols are in place.</li>
                  <li>We have proper distancing protocols in place.</li>
                  <li>Computer workstations are two metres apart to ensure physical distancing measures and are sanitized.</li>
             </ul><br>
                 <h2 id="covid">COVID-19 update</h2><br>
                 <p>With the rate of covid infection decreasing, the library will reduce the restrictions and everything will return to normal, wearing a mask is no longer mandatory, but it is recommended. Regular cleaning and disinfection will remain the same.</p>
        
      </div>

 <!-- DIV COLUMN WHO HELP THE USER TO GO TO THE IMPORTANT INFORMATION FOR THEM  -->
      <div class="col keyword">
          <h2>What`s on this page:</h2>
             <ul class="listacuv">
                  <li><a href="#updates">Latest updates to library services</a></li>
                  <li><a href="#vision">Library Vision Statement</a></li>
                  <li><a href="#person">Available in person</a></li>
                  <li><a href="#visit">What you need to know before visiting?</a></li>
                  <li><a href="#staff">What we're doing to keep you and our staff safe?</a></li>
                  <li><a href="#covid">COVID-19 update</a></li>
             </ul>
      </div>
   
 </div>
 
       
</body>
</html>