<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/program.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Schedule</title>
</head>
<body>
    
 <div class="program orebiblioteca">
    <p>OPENING HOURS</p>
 <h3>READING ROOM</h3>
 <table>
    <tbody>
       <tr>
           <th><p>Monday to Thursday</p></th>
           <td><p>9 am to 7 pm</p> 
                 <ul>
                     <li> <span>Special Collection is closed on thursday, in general it ends at 4 pm.</span></li>
                 </ul>
            </td>
       </tr>
    <tr>
        <th> <p>Friday</p> </th>
        <td> <p>9 am to 6 pm</p> </td>
   </tr>
   <tr>
       <th> <p>Weekend and holidays</p> </th>
        <td> <p>10am to 4 pm, during holidays closed</p>
            <ul>
                <li><span>Special Collection is closed.</span></li>
            </ul>
        </td>
   </tr>
   </tbody>
</table>

 <h3>THE LIBRARY SHOP </h3>
 <table class="shop"><br>
    <tbody>
       <tr>
           <th> <p>Monday to Thursday</p> </th>
           <td > <p>12pm to 4pm</p> </td>
       </tr>
    <tr>
        <th> <p>Friday</p> </th>
        <td> <p>10am to 2pm</p> </td>
   </tr>
   <tr>
       <th> <p>Weekend and holidays</p> </th>
       <td> <p>10am to 12pm. Closed on Sunday and during holidays.</p> </td>
   </tr>
   </tbody>
</table>
 <h3>FRIENDS ROOM</h3>
 <table class="shop"><br>
    <tbody>
       <tr>
           <th> <p>Monday to Thursday</p> </th>
           <td> <p>9 am to 7 pm</p> </td>
       </tr>
    <tr>
        <th> <p>Friday</p> </th>
        <td> <p>9 am to 6 pm</p> </td>
   </tr>
   <tr>
       <th> <p>Weekend</p> </th>
       <td> <p>10am to 4 pm, during holidays closed</p> </td>
   </tr>
   </tbody>
</table>
 <h3>LIBRARY CAFE</h3>
 <table class="shop"><br>
    <tbody>
       <tr>
           <th> <p>Monday to Thursday</p> </th>
           <td> <p>9:30 am to 2 pm</p> </td>
       </tr>
    <tr>
        <th> <p>Friday</p> </th>
        <td> <p>9:30 am to 2pm </p> </td>
   </tr>
   <tr>
       <th> <p>Weekend</p> </th>
       <td> <p>9:30 am to 1 pm, during holidays closed</p> </td>
   </tr>
   </tbody>
</table>
 <h3>THE LIBRARY BAR</h3>
 <table class="shop"><br>
    <tbody>
       <tr>
           <th> <p>Monday to Thursday</p> </th>
           <td> <p>9 am to 6 pm</p> </td>
       </tr>
    <tr>
        <th> <p>Friday</p> </th>
        <td> <p>9 am to 6 pm</p> </td>
   </tr>
   <tr>
       <th> <p>Weekend</p> </th>
       <td> <p>9:30 am to 4 pm</p> </td>
   </tr>
   </tbody>
</table>
 <h3>ROOM FOR READING TO KIDS</h3><br>
 <table class="shop">
    <tbody>
       <tr>
           <th> <p>Monday to Thursday</p> </th>
           <td> <p>9 am to 5 pm</p> </td>
       </tr>
    <tr>
        <th> <p>Friday</p> </th>
        <td> <p>9 am to 5 pm</p> </td>
   </tr>
   <tr>
       <th> <p>Weekend</p> </th>
       <td> <p>10 am to 4 pm, during holidays closed</p> </td>
   </tr>
   </tbody>
</table>
 <h3>THE OUTSIDE ROOM/GARDEN</h3><br>
 <table class="shop">
    <tbody>
       
       <tr>
           <th> <p>Monday to Thursday</p> </th>
           <td> <p>9 am to 6 pm</p> </td>
       </tr>
    <tr>
        <th> <p>Friday</p> </th>
        <td> <p>10 am to 5 pm</p> </td>
   </tr>
   <tr>
       <th> <p>Weekend</p> </th>
       <td> <p>10 am to 5 pm, during holidays closed</p> </td>
   </tr>
   <tr>
    <th id="imp" colspan="2"> CLOSED DURING COLD SEASONS AND BAD WEATHER IN HOT SEASONS</th>
</tr>

   </tbody>
</table>
 </div>
    
</body>
</html>