@model library1.Models.book
@section Scripts {
  <script type="text/javascript">
        function PopulateAuthors() {
            $.ajax({
                url: "/Books/PopulateAuthors",
                type: "GET",
                success: function (response) { 
                    response["$values"].forEach(function (element) {
                        var id = element.authorID;
                        $("#authorsSelect").append("<option value ='"+id +"'>" + element.author_firstname + " " +  element.author_lastname + "</option>");
                    });
                },
                error: function () {
                    $("#authorsSelect").empty();
                }
            });
        }
         function PopulateMainGenre() {
            $.ajax({
                url: "/Books/PopulateMainGenre",
                type: "GET",
                success: function (response) { 
                    response["$values"].forEach(function (element) {
                        var id = element.mainGenreID;
                        $("#maingenreSelect").append("<option value ='"+ id +"'>" + element.mainGenre_name + "</option>");
                    });
                },
                error: function () {
                    $("#maingenreSelect").empty();
                }
            });
        }
        function PopulateGenre() {
            $.ajax({
                url: "/Books/PopulateGenre",
                type: "GET",
                success: function (response) { 
                    response["$values"].forEach(function (element) {
                        var id = element.genreID;
                        $("#genreSelect").append("<option value ='"+ id +"'>" + element.genre_name + "</option>");
                    });
                },
                error: function () {
                    $("#genreSelect").empty();
                }
            });
        }
        function PopulateType() {
            $.ajax({
                url: "/Books/PopulateType",
                type: "GET",
                success: function (response) { 
                    response["$values"].forEach(function (element) {
                        var id = element.typeOfBookID;
                        $("#typeSelect").append("<option value ='"+ id +"'>" + element.typeOfBook_name + "</option>");
                    });
                },
                error: function () {
                    $("#typeSelect").empty();
                }
            });
        }
        PopulateType();
        PopulateGenre();
        PopulateMainGenre();
        PopulateAuthors();
        </script>
}
@{
    ViewData["Title"] = "editBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/editinsert.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Edit Books</title>

</head>
<body>
    <div class="content2">
        <h1 id="title2">Edit the Book</h1>
    </div>

    <div class="content">
        
        <div class="row">
            <div class="col-md-4">
                <form asp-action="editBook">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="bookID" />
                    <div class="form-group">
                        <label asp-for="book_title" class="control-label"></label> <br>
                        <input asp-for="book_title" class="form-control" /> <br>
                        <span asp-validation-for="book_title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="book_pages" class="control-label"></label> <br>
                        <input asp-for="book_pages" class="form-control" /> <br>
                        <span asp-validation-for="book_pages" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="year" class="control-label"></label> <br>
                        <input asp-for="year" class="form-control" /> <br>
                        <span asp-validation-for="year" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="cover_path" class="control-label"></label> <br>
                        <input asp-for="cover_path" class="form-control" /> <br>
                        <span asp-validation-for="cover_path" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="placeHolded" class="control-label"></label> <br>
                        <input asp-for="placeHolded" class="form-control" /> <br>
                        <span asp-validation-for="placeHolded" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="country" class="control-label"></label> <br>
                        <input asp-for="country" class="form-control" /> <br>
                        <span asp-validation-for="country" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="authorID" class="control-label"></label> <br>
                        <select asp-for="authorID" id="authorsSelect" class="form-control" asp-items="ViewBag.authorID"></select>
                        <span asp-validation-for="authorID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="genreID" class="control-label"></label><br>
                        <select asp-for="genreID" id="genreSelect" class="form-control" asp-items="ViewBag.genreID"></select>
                        <span asp-validation-for="genreID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="mainGenreID" class="control-label"></label> <br>
                        <select asp-for="mainGenreID" id="maingenreSelect" class="form-control" asp-items="ViewBag.mainGenreID"></select>
                        <span asp-validation-for="mainGenreID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="typeOfBookID" class="control-label"></label> <br>
                        <select asp-for="typeOfBookID" id="typeSelect" class="form-control" asp-items="ViewBag.typeOfBookID"></select>
                        <span asp-validation-for="typeOfBookID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" /> 
                        <a asp-action="Index" id="backhome">Back to Home</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</body>
</html>

